.vs/
.vscode/
build/
CMakeLists.txt.user
cmake_install.cmake
.waf-*
waf-*
.waf3-*
waf3-*
.lock*
*.o
*.so
*.a
*.apk
*.framework
*.exe
*.dll
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
*.cmd
*.pdb
*.config
*.files
*.includes
*.creator
*.user
*.pyc
*.pak